/*GLOBAL*/

:root {
  /*inner*/
  --color-dark-grey: #303846;
  --color-grey: #d5d5d5;
  --color-light-grey: #f7f7f7;
  --color-turquoise: #00d3ac;
  --color-darker-turquoise: #03ad8e;
  --color-black: #000000;
  --color-white: #ffffff;
  --header-height: 69px;

  /*global*/
  --palette-primary: var(--color-dark-grey);
  --palette-secondary: var(--color-white);
  --palette-decoration: var(--color-turquoise);

  --background-contrast: var(--color-black);
  --background-main: var(--color-white);
  --background-secondary: var(--color-light-grey);

  --input-border: var(--color-grey);
  --element-active: var(--color-darker-turquoise);
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: var(--palette-primary);
}

a {
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.titles-h2 {
  font-size: 32px;
  margin: 0;
  padding: 0 0 24px 0;
}

.flex-sp-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-items-center {
  display: flex;
  align-items: center;
}

.link-common {
  font-weight: bold;
}

.link-common:hover {
  color: var(--palette-decoration);
}

.link-common:active,
.link-common:focus {
  color: var(--element-active);
}

.button-common {
  font-weight: bold;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.button-common:hover {
  background-color: var(--palette-decoration);
  color: var(--background-secondary);
}

.button-common:active,
.button-common:focus {
  background-color: var(--element-active);
  color: var(--background-secondary);
}

.w-100per {
  width: 100%;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.white-text {
  color: var(--palette-secondary);
}

.font-bold {
  font-weight: bold;
}

.background-white {
  background-color: var(--background-main);
}

.background-grey {
  background-color: var(--background-secondary);
}

/*HEADER*/
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--palette-secondary);
  height: 69px;
}

.page-header-logo {
  padding: 0 0 0 20px;
}

.logo-image {
  margin: 0 18px 0 0;
}

.site-list {
  padding: 0 20px 0 0;
  display: flex;
}

.site-list-item {
  margin: 0 20px 0 0;
}

.site-list-item:last-child {
  margin: 0px;
}

.site-list-link {
  color: var(--palette-primary);
}

/*PAGE-MAIN*/
.page-main {
  padding: var(--header-height) 0 0 0;
}

/*PROMO*/
.promo {
  background-color: var(--background-contrast);
  background-image: url("../images/banner.png");
  z-index: -1;
  background-size: cover;
  background-position: bottom;
  padding: 34px 0 100px 0;
}

.promo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.promo-title {
  font-size: 48px;
  margin: 0;
  padding: 17px 0 0 0;
}

.promo-motto {
  font-size: 18px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 3px 0 0 0;
}

.promo-button {
  margin: 23px 0 0 0;
  padding: 13px 14px;
  border: 1px solid var(--palette-secondary);
  letter-spacing: 0.8px;
}

/*ADVANTAGES*/
.advantages {
  padding: 69px 0;
}

.advantages-text {
  line-height: 23px;
  margin: 0;
}

.advantages-item {
  width: 325px;
}

/*MAIN SECTION*/
.main-section {
  padding: 62px 0;
}

.main-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section-text {
  width: 520px;
  line-height: 23px;
}

.main-section-info {
  margin: 0;
}

.main-section-info-first {
  padding: 0 0 20px 0;
}

/*FORM*/
.form {
  padding: 50px 0;
}

.form-content {
  flex-direction: column;
  justify-content: center;
}

.form-title {
  margin: 0;
  padding: 0 0 34px 0;
}

.form-button {
  padding: 13px 36px;
  background: transparent;
  border: 1px solid var(--palette-decoration);
  color: var(--palette-decoration);
  font-size: 16px;
}

.field {
  width: 366px;
  border: 2px solid var(--palette-decoration);
  padding: 30px 70px 25px 20px;
  margin: 0 0 17px 0;
}

.field:last-child {
  margin: 0;
}

.field-item {
  margin: 0;
}

.field-title {
  color: var(--palette-decoration);
  font-size: 22px;
  letter-spacing: 0.3px;
}

.field-capture {
  min-width: 170px;
}

.field-information {
  width: 160px;
  height: 23px;
  border-radius: 10px;
  border: 1px solid var(--input-border);
  padding: 0 0 0 8px;
  margin: 0 0 10px 0;
}

.field-information--small {
  width: 120px;
  height: 35px;
  border-radius: 10px;
}

/*FOOTER*/
.footer-main {
  padding: 55px 0;
  background-color: var(--palette-primary);
}

.footer-main-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-main .page-header-logo {
  padding: 0;
}

.footer-main .logo-text {
  font-size: 15px;
  letter-spacing: 0.1px;
}

.footer-main-year {
  display: block;
  font-size: 14px;
  padding: 13px 0 0 0;
}

.footer-main-link {
  color: var(--palette-secondary);
  font-size: 13px;
}
