/*GLOBAL*/

:root {
  /*inner*/
  --color-dark-grey: #303846;
  --color-grey: #d5d5d5;
  --color-light-grey: #f7f7f7;
  --color-turquoise: #00d3ac;
  --color-darker-turquoise: #03ad8e;
  --color-black: #000000;
  --color-white: #ffffff;


  /*global*/
  --palette-primary: var(--color-dark-grey);
  --palette-secondary: var(--color-white);
  --palette-decoration: var(--color-turquoise);

  --background-contrast: var(--color-black);
  --background-secondary: var(--color-light-grey);

  --input-border: var(--color-grey);
  --element-active: var(--color-darker-turquoise);
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: var(--palette-primary);
}

a {
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/*HEADER*/
.page-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--palette-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header-logo {
  padding-left: 20px;
  font-weight: bold;
}

.logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-image {
  margin-right: 18px;
}

.site-list {
  padding-right: 20px;
  list-style: none;
  display: flex;
  font-weight: bold;
}

.site-list-item {
  margin-right: 20px;
}

.site-list-item:last-child {
  margin-right: 0px;
}

.site-list-link {
  color: var(--palette-primary);
}

.site-list-link:hover {
  color: var(--palette-decoration);
}

.site-list-link:active,
.site-list-link:focus {
  color: var(--element-active);
}

/*PROMO*/
.promo {
  color: var(--palette-secondary);
  background-color: var(--background-contrast);
  width: 100%;
  background-image: url("../images/banner.png");
  z-index: -1;
  background-size: cover;
  background-position: bottom;
  padding-top: 100px;
  padding-bottom: 100px;
}

.promo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.promo-title {
  font-size: 48px;
  margin: 0;
  margin-top: 17px;
}

.promo-motto {
  font-size: 18px;
  letter-spacing: 0.4px;
  font-weight: bold;
  margin: 0;
  margin-top: 3px;
}

.promo-button {
  padding: 13px 14px;
  color: var(--palette-secondary);
  font-weight: bold;
  border: 1px solid var(--palette-secondary);
  border-radius: 10px;
  letter-spacing: 0.8px;
  transition: all 0.3s ease;
  margin-top: 23px;
}

.promo-button:hover {
  background-color: var(--palette-decoration);
}

.promo-button:active,
.promo-button:focus {
  background-color: var(--element-active);
}

/*ADVANTAGES*/
.advantages {
  padding-top: 69px;
}

.advantages-title {
  font-size: 32px;
  margin: 0;
  margin-bottom: 16px;
}

.advantages-text {
  line-height: 23px;
  margin: 0;
}

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.advantages-item {
  width: 325px;
}

/*ABOUT*/
.about {
  background-color: var(--background-secondary);
  padding-top: 62px;
  padding-bottom: 62px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  width: 520px;
  line-height: 23px;
}

.about-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 32px;
}

.about-info {
  margin: 0;
}

.about-info-first {
  margin-bottom: 20px;
}

/*PLACES*/
.places {
  padding-top: 64px;
  padding-bottom: 71px;
}

.places-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.places-text {
  width: 520px;
  line-height: 23px;
}

.places-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 32px;
}

.places-info {
  margin: 0;
}

.places-info-first {
  margin-bottom: 20px;
}

/*FORM*/
.form {
  background-color: var(--background-secondary);
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 68px;
  padding-top: 30px;
}

.form-title {
  margin: 0;
  margin-bottom: 34px;
  font-size: 32px;
}

.form-button {
  padding: 13px 36px;
  background: transparent;
  border: 1px var(--palette-decoration) solid;
  border-radius: 5px;
  color: var(--palette-decoration);
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease;
}

.form-button:hover {
  background-color: var(--palette-decoration);
  color: var(--background-secondary);
}

.form-button:active,
.form-button:focus {
  background-color: var(--element-active);
  color: var(--background-secondary);
}

.field {
  width: 366px;
  border: 2px var(--palette-decoration) solid;
  padding-bottom: 25px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 70px;
  margin-bottom: 17px;
}

.field:last-child {
  margin-bottom: 0;
}

.field-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.field-title {
  font-weight: bold;
  color: var(--palette-decoration);
  font-size: 22px;
  letter-spacing: 0.3px;
}

.field-capture {
  font-weight: bold;
  min-width: 170px;
}

.field-information {
  width: 160px;
  height: 23px;
  border-radius: 10px;
  border: 1px solid var(--input-border);
  padding-left: 8px;
  margin-bottom: 10px;
}

.field-information--small {
  width: 120px;
  height: 35px;
  border-radius: 10px;
}

/*FOOTER*/
.footer-main {
  padding-top: 65px;
  padding-bottom: 78px;
  background-color: var(--palette-primary);
  color: var(--palette-secondary);
}

.footer-main-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-main .page-header-logo {
  padding-left: 0;
}

.footer-main .logo-text {
  font-size: 15px;
  letter-spacing: 0.1px;
}

.footer-main-year {
  display: block;
  font-size: 14px;
  margin-top: 13px;
}

.footer-main-link {
  color: var(--palette-secondary);
  font-weight: bold;
  font-size: 13px;
}

.footer-main-link:hover {
  color: var(--palette-decoration);
}

.footer-main-link:active,
.footer-main-link:focus {
  color: var(--element-active);
}
